{{power-select-tree
  treeOptions=treeOptions
  placeholder='Fooooo'
  selectedOptions=selectedOptions
  handleSearch=(action 'handleSearch')
  onTreeSelectionChange=(action 'onTreeSelectionChange')}}

<hr>
<div>
  <p>QUERY: {{query}}</p>
  APPLICATION SELECTED:
  <p>
    {{#each selectedOptions as |opt|}}
      {{opt.label}}
    {{/each}}
  </p>
</div>
