{{power-select-tree
  treeOptions=treeOptions
  placeholder='Fooooo'
  selectedOptions=selectedOptions
  onTreeSelectionChange=(action 'onTreeSelectionChange')}}

<div>
  APPLICATION SELECTED:
  <p>
    {{#each selectedOptions as |opt|}}
      {{opt.label}}
    {{/each}}
  </p>
</div>
